<!doctype html>
<html lang="en">

<head>
  <title>Hotel Verano</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="p-4 pt-5">
        <a href="/template" class="img logo rounded-circle mb-5" style="background-image: url(../static/uploads/{{current_user.clave}}/{{current_user.foto}});"></a>
        <center>
          {{current_user.nombre}} {{current_user.apellido_paterno}}
          <br>
          {{current_user.tipo}}
        </center>

        <br>
        <ul class="list-unstyled components mb-5">
          <li>
            <a href="#Empleados" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Empleados</a>
            <ul class="collapse list-unstyled" id="Empleados">
              <li>
                <a href="/AddEmpleado">Añadir Empleados</a>
              </li>
              <li>
                <a href="/ModEmpleado">Modificar Empleados</a>
              </li>

            </ul>
          </li>
          <li>
            <a href="#Habitaciones" data-toggle="collapse" aria-expanded="false"
              class="dropdown-toggle">Habitaciones</a>
            <ul class="collapse list-unstyled" id="Habitaciones">
              <li>
                <a href="/AddHabitacion">Añadir Habitaciones</a>
              </li>
              <li>
                <a href="/ModHabitacion">Modificar Habitaciones</a>
              </li>

            </ul>
          </li>
          <li>
            <a href="#Estacionamiento" data-toggle="collapse" aria-expanded="false"
              class="dropdown-toggle">Estacionamiento</a>
            <ul class="collapse list-unstyled" id="Estacionamiento">
              <li>
                <a href="/AddEstacionamiento">Añadir Lugar</a>
              </li>
              <li>
                <a href="/ModEstacionamiento">Modificar Lugar</a>
              </li>

            </ul>
          </li>
          <li>
            <a href="#pageReservaciones" data-toggle="collapse" aria-expanded="false"
              class="dropdown-toggle">Reservaciones</a>
            <ul class="collapse list-unstyled" id="pageReservaciones">
              <li>
                <a href="/AddReservacion">Añadir Reservación</a>
              </li>
              <li>
                <a href="/ModReservacion">Modificar Reservación</a>
              </li>

            </ul>
          </li>
          <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Clientes</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
              <li>

              <li>
                <a href="/AddCliente">Añadir Cliente</a>
              </li>
              <li>
                <a href="/ModCliente">Modificar Ciente</a>
              </li>

            </ul>
          </li>

          </li>
          <li>
            <a href="/MiPerfil">Mi Perfil</a>
          </li>
          <li>
            <a href="/CerrarSesion">Cerrar Sesión</a>
          </li>
        </ul>

        <div class="footer">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Toda la página y sus recursos es propiedad de Hotel Verano <i class="icon-heart" aria-hidden="true"></i>
            </a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>

      </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">

      <button type="button" id="sidebarCollapse" class="btn btn-primary">
        <i class="fa fa-bars"></i>
        <span class="sr-only">Toggle Menu</span>
      </button>
      <br>
      <br>
      <br>

      <!-- Aqui inicia mi código :) -->
      <h3>Añadir Empleado <span class="badge badge-secondary">Nuevo</span></h3>
      <form method="POST" action="/agregarEmpleadoBD" enctype="multipart/form-data">
        <div class="row">

          <div class="col">
            <label >Nombre</label>
            <input type="text" class="form-control" id="inputNombre" name="inputNombre" placeholder="Nombre(s)">
          </div>

 
          <div class="col">
          <label for="inputApellidoPaterno">Apellido Paterno</label>
          <input type="text" class="form-control" id="inputApellidoPaterno" name="inputApellidoPaterno" placeholder="Apellido Paterno">
        </div>


        <div class="col">
          <label for="inputApellidoMaterno">Apellido Materno</label>
          <input type="text" class="form-control" id="inputApellidoMaterno" name="inputApellidoMaterno" placeholder="Apellido Materno">
        </div>
      </div>
      <br>
      
      <div class="row">
        <div class="col">
        <label for="inputGenero">Género</label>
        <select id="inputGenero" name="inputGenero" class="form-control" >
          <option selected>Selecciona...</option>
          <option value="Masculino">Masculino</option>
          <option value="Femenino">Femenino</option>
          <option value="Otro">Otro</option>
        </select>
        </div>
      </div>
      <br>

        <div class="row">
          <div class="col">
          <label for="inputFechaNacimiento">Fecha de Nacimiento</label>
          <input type="date" class="form-control" id="inputFechaNacimiento" name="inputFechaNacimiento">
        </div>
        <div class="col">
        <label for="inputFechaRegistro">Fecha de Registro</label>
        <input type="date" class="form-control" id="inputFechaRegistro" name="inputFechaRegistro">
      </div>
      </div>
      <br>
       
      <div class="row">
        <div class="col">
        <label for="inputTelefono">Telefono</label>
        <input type="tel" class="form-control" id="inputTelefono" name="inputTelefono" >
      </div>
      <div class="col">
        <label for="inputTipo">Tipo de Empleado</label>
        <select id="inputTipo" name="inputTipo" class="form-control">
          <option selected>Selecciona...</option>
          <option value="Administrador">Administrador</option>
          <option value="General">General</option>

        </select>
        </div>

      </div>
      <br>

      <div class="row">
        <div class="col">
        <label for="inputUsuario">Nombre de Usuario</label>
        <input type="text" class="form-control" id="inputUsuario" name="inputUsuario" >
      </div>
      <div class="col">
        <label for="inputPassword1">Contraseña</label>
        <input type="password" class="form-control" id="inputPassword1" name="inputPassword1">
        </div>
        <div class="col">
          <label for="inputPassword2"> Repite Contraseña</label>
          <input type="password" class="form-control" id="inputPassword2" >
          </div>

      </div>
      <br>

      <div class="form-group">
        <label>Subir foto</label><br>
        <input type="file" class="inputFoto" id="inputFoto"name="inputFoto" onchange="ValidarArchivo(this)">
      </div>

        <button type="button" class="btn btn-secondary" id="btn-comprobar" onclick="comprobar()">Verificar</button>
        <button type="submit" class="btn btn-primary" id="btn-registrar" style="display: none;" >Agregar Empleado</button>
      </form>
      <!--Aquí termina mi código :( -->


      <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              
            </div>
          </div>|
        </div>
      </div>




      <div class="modal fade" id="errorfileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>



    </div>

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/popper.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../../static/js/Empleados/AddEmpleados.js"></script>
</body>

</html>