<!doctype html>
<html lang="en">

<head>
  <title>Hotel Verano</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="p-4 pt-5">
        <a href="/template" class="img logo rounded-circle mb-5" style="background-image: url(../static/uploads/{{current_user.clave}}/{{current_user.foto}});"></a>
        <center>
          {{current_user.nombre}} {{current_user.apellido_paterno}}
          <br>
          {{current_user.tipo}}
        </center>
        <center>
          <br>
          <a class="btn btn-outline-warning" href="template" role="button">Hotel Verano</a>
          <br>
        </center>
        <ul class="list-unstyled components mb-5">
          {% if current_user.is_authenticated and current_user.tipo=="Administrador" or current_user.tipo=="Viewer" %}
          <li>
            <a href="#Empleados" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Empleados</a>
            
            <ul class="collapse list-unstyled" id="Empleados">
              {% if current_user.is_authenticated and current_user.tipo=="Administrador"  %}
              <li>
                <a href="/AddEmpleado">Añadir Empleados</a>
              </li>
              {%endif%}
              <li>
                <a href="/ModEmpleado">Modificar Empleados</a>
              </li>
              
            </ul>
            {% endif %}

          </li>
          {% if current_user.is_authenticated and current_user.tipo=="Administrador" or current_user.tipo=="Viewer" %}
          <li>
            <a href="#Habitaciones" data-toggle="collapse" aria-expanded="false"
              class="dropdown-toggle">Habitaciones</a>
            <ul class="collapse list-unstyled" id="Habitaciones">
              {% if current_user.is_authenticated and current_user.tipo=="Administrador"  %}
              <li>
                <a href="/AddHabitacion">Añadir Habitaciones</a>
              </li>
              {%endif%}
              <li>
                <a href="/ModHabitacion">Modificar Habitaciones</a>
              </li>

            </ul>
          </li>
          {%endif%}
          {% if current_user.is_authenticated and current_user.tipo=="Administrador" or current_user.tipo=="Viewer" %}
          <li>
            <a href="#Estacionamiento" data-toggle="collapse" aria-expanded="false"
              class="dropdown-toggle">Estacionamiento</a>
            <ul class="collapse list-unstyled" id="Estacionamiento">
              {% if current_user.is_authenticated and current_user.tipo=="Administrador"  %}
              <li>
                <a href="/AddEstacionamiento">Añadir Lugar</a>
              </li>
              {%endif%}
              <li>
                <a href="/ModEstacionamiento">Modificar Lugar</a>
              </li>

            </ul>
          </li>
          {%endif%}
          <li>
            
            <a href="#pageReservaciones" data-toggle="collapse" aria-expanded="false"
              class="dropdown-toggle">Reservaciones</a>
            <ul class="collapse list-unstyled" id="pageReservaciones">
              {% if current_user.is_authenticated and current_user.tipo=="General" or current_user.tipo=="Administrador"%}
              <li>
                <a href="/AddReservacion">Añadir Reservación</a>
              </li>
              {%endif%}
              <li>
                <a href="/ModReservacion">Modificar Reservación</a>
              </li>

            </ul>
          </li>
          <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Clientes</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
              <li>
              {% if current_user.is_authenticated and current_user.tipo=="General" or current_user.tipo=="Administrador"%}
              <li>
                <a href="/AddCliente">Añadir Cliente</a>
              </li>
              {% endif %}
              <li>
                <a href="/ModCliente">Modificar Ciente</a>
              </li>

            </ul>
          </li>

          </li>
          <li>
            <a href="/MiPerfil">Mi Perfil</a>
          </li>
          <li>
            <a href="/CerrarSesion">Cerrar Sesión</a>
          </li>
        </ul>

        <div class="footer">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Toda la página y sus recursos es propiedad de Hotel Verano <i class="icon-heart" aria-hidden="true"></i>
            </a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>

      </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">

      <button type="button" id="sidebarCollapse" class="btn btn-primary">
        <i class="fa fa-bars"></i>
        <span class="sr-only">Toggle Menu</span>
      </button>
      <br>
      <br>
      <br>

      <!-- Aqui inicia mi código :) -->
      <h3>Actualizar Cliente   <span class="badge badge-secondary">Actualizar</span></h3>
      <form method="POST" action="/actualizarClienteDB">
        <div class="row">

          
          <div class="col">
            <label >Id</label>
            <input type="text" readonly class="form-control" id="inputId" name="inputId" value="{{datos.id_clientes}}">
          </div>

          <div class="col">
            <label >Nombre</label>
            <input type="text" class="form-control" id="inputNombre" name="inputNombre" value="{{datos.nombre}}">
          </div>

 
          <div class="col">
          <label for="inputApellidoPaterno">Apellido Paterno</label>
          <input type="text" class="form-control" id="inputApellidoPaterno" name="inputApellidoPaterno" value="{{datos.apellido_paterno}}">
        </div>


        <div class="col">
          <label for="inputApellidoMaterno">Apellido Materno</label>
          <input type="text" class="form-control" id="inputApellidoMaterno" name="inputApellidoMaterno" value="{{datos.apellido_materno}}">
        </div>
      </div>
      <br>
      

        <div class="row">
        <div class="col">
        <label for="inputFechaRegistro">Fecha de Registro</label>
        <input type="date" class="form-control" id="inputFechaRegistro" value="{{datos.fecha_registro}}" name="inputFechaRegistro">
      </div>
      <div class="col">
        <label for="inputTelefono">Telefono</label>
        <input type="tel" class="form-control" id="inputTelefono" value="{{datos.telefono}}" name="inputTelefono" >
      </div>
      </div>
      <br>
       
      <div class="row">
        <div class="col">
          <label >Correo</label>
          <input type="text" class="form-control" id="inputcorreo" value="{{datos.correo}}" name="inputcorreo" >
        </div>

        <div class="col">
          <label >Direccion</label>
          <input type="text" class="form-control" id="inputDireccion" value="{{datos.direccion}}" name="inputDireccion" >
        </div>


      </div>
      <br>
      <button type="button" class="btn btn-secondary" id="btn-comprobar" onclick="comprobar()">Verificar</button>
      <button type="submit" class="btn btn-primary" id="btn-registrar" style="display: none;" >Agregar Cliente</button>
      </form>
      <!--Aquí termina mi código :( -->
      <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              
            </div>
          </div>|
        </div>
      </div>




      <div class="modal fade" id="errorfileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/popper.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../../static/js/Clientes/UpdateCliente.js"></script>
</body>

</html>